@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Book

<h2>Book Details</h2>

<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>
<h3>Authors: </h3>
<ul>
  @foreach(AuthorBook join in Model.AuthorBookJoinEntities)
  {
    <li>@join.Author.Name</li>
  }
</ul>
<h3>Available Copies: @Model.Copies.Where(copy => copy.Checkout == null).ToList().Count</h3>
<h3>Total Copies: @Model.Copies.Count</h3>

<p>@Html.ActionLink("Check out Book", "Checkout", new {id = Model.BookId})</p>

<br>

<p>@Html.ActionLink("Show all books", "Index")</p>
<p>@Html.ActionLink("Edit book", "Edit", new {id = Model.BookId})</p>
<p>@Html.ActionLink("Delete book", "Delete", new {id = Model.BookId})</p>
